/*MEDIA TYPE*/

.desktop {
    display: inline-block;
}
.mobile {
    display: none;
}

/*Body*/

* {
    margin: 0;
    padding: 0;
}
#container {
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    position: relative;
    width: 80%;
}
div.main-content {
    padding-top: 120px;
}
div.backgroundimage {
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 890px;
    margin-left: 40%;
    position: fixed;
    top: 41px;
    width: 900px;
    z-index: -2;
}
body {
    background-color: #000;
    background-image: radial-gradient(ellipse farthest-corner at 50px 50px, rgba(220, 53, 35, .25), rgba(0, 0, 0, .3));
    background-size: 100% 150%;
    background-repeat: no-repeat;
    color: #FFF;
    font-family: courier, verdana, sans-serif;
    font-size: 18px;
    letter-spacing: .15em;
    margin: auto;
    white-space: normal;
    width: 100%;
}

/*Sidebar menu button*/

div.button {
    width: 55px;
    margin-left: 0;
    height: 100%;
    position: fixed;
    bottom: 0;
    background: #000;
    z-index: 198;
}
div.button p {
    vertical-align: middle;
    text-align: center;
    margin-top: 150px;
    font-size: 2.0em;
    color: #ff0000;
}

/*Sidebar*/

nav.desktop {
    width: 100%;
    text-align: center;
}
nav.desktop a,
li {
    display: block;
    text-decoration: none;
}
nav.desktop a {
    padding: 20px 0;
    color: red;
}
nav.desktop a:visited {
    color: #ff0000;
}
nav.desktop a:hover {
    background: black;
    color: white;
}
nav.desktop li:last-child a {
    border-bottom: none;
}

/*--------------------------------------*/


/*initial hover affect*/

.navi:hover {
    margin-left: 0;
    color: white;
    opacity: 1;
    transition-property: width, height, transform, background-color, font-size, opacity, border-bottom, margin-left, color;
    transition: margin-left .2s ease, opacity .1s ease-in-out;
    transition-timing-function: ease;
}

/*release effect*/

.navi {
    width: 240px;
    margin-left: -185px;
    height: 100%;
    position: fixed;
    bottom: 0;
    background: #000;
    opacity: 0;
    z-index: 200;
    transition-property: width, height, transform, background-color, font-size, opacity, border-bottom, margin-left, color;
    transition: margin-left .2s ease, opacity .5s ease .13s;
    transition-timing-function: ease-in-out;
}
ul.navi li:first-child {
    margin-top: 150px;
}

/*menu hoverng effects*/

ul.navi a {
    font-family: sans-serif;
    font-weight: bold;
    -webkit-transition: width 2s;
    /* For Safari 3.1 to 6.0 */
    transition-property: width, height, transform, background-color, font-size, opacity, border-bottom, color;
    transition: background-color .1s, color .1s;
    transition-timing-function: ease;
}
ul.navi a:hover {
    background-color: #ff0000;
    color: #000000;
}

/*maintitle*/

div.header {
    background-color: #000;
    box-shadow: 0px 10px 20px 8px #000000;
    margin: auto;
    position: fixed;
    width: 100%;
    z-index: 1000000;
}
h1.uppercase {
    background-color: #000;
    background-repeat: no-repeat;
    box-shadow: 0px -5px 10px rgba(220, 53, 35, .15);
    color: #ff0000;
    font-size: 65px;
    font-family: courier, verdana, sans-serif;
    margin: auto;
    min-width: 80px;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    text-shadow: 0px 3px 5px #333;
    width: 800px;
}
div.skeleton {
    margin: auto;
    min-width: 80px;
    position: relative;
    top: 0;
    width: 1000px;
}
div.skeleton1 {
    background-image: url(images/skeleton2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 100px;
    margin: auto;
    top: 25px;
    height: 70px;
    width: 20px;
    position: absolute;
    z-index: 1;
}
div.skeleton2 {
    position: absolute;
    background-image: url(images/skeleton2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 875px;
    margin: auto;
    top: 25px;
    width: 20px;
    height: 70px;
    z-index: 1;
}

/*intro*/

div.intro {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 15px;
    color: #fff;
    font-family: courier, verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 2.1px;
    line-height: 1.6em;
    margin-top: 150px;
    margin-bottom: 130px;
    text-align: center;
    text-shadow: 3px 3px 1px #000;
    white-space: normal;
}
div.intro a:link {
    color: #fff;
    text-decoration: none;
}
div.intro a:visited {
    color: #fff;
    text-decoration: none;
}
div.intro a:hover {
    color: #cd0702;
    font-style: italic;
    text-decoration: underline;
}

/*BTT*/

.topbox {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    border-radius: 100px;
    border: solid 4px rgba(255, 0, 0, 1);
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 53px;
    z-index: 300;
}
.topbox span {
    color: black;
    font-weight: bold;
    opacity: 1;
}

/*albums*/

figure.mobile-only {
    display: none;
}
h2.albums {
    background-color: #cd0702;
    border-radius: 10px 10px 0px 0px;
    color: #000;
    font-family: courier, verdana, sans-serif;
    font-size: 35px;
    margin: -15px -4px;
    padding: 0px 4px;
    text-align: center;
    text-shadow: 0px 1px 2px #333;
    width: 100%;
}
main {
    padding: 0px 15px;
}
.albums {
    background-color: rgba(255, 255, 255, .92);
    color: #000;
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 0.2em;
    text-align: center;
}
.albums dl {
    display: inline-block;
    font-size: 20px;
    line-height: 1.6em;
    padding: 30px 0px;
    width: 80%;
}
div.albums {
    border-radius: 0px 0px 15px 15px;
    margin-top: 130px;
    padding-bottom: 10px;
    text-align: center;
}
dt.albumnames {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
}
.album-cover img {
    width: 150px;
}
div.albums a:link {
    color: #000;
    text-decoration: none;
}
div.albums a:visited {
    color: #000;
    text-decoration: none;
}
div.albums a:hover {
    color: #f04937;
    font-style: italic;
    text-decoration: underline;
}
ul.songlist {
    color: #000;
    list-style-type: none;
}
.album-art:hover {
    box-shadow: 0px 0px 88px -10px #f04937;
}

/*merchandise*/

h4.merch {
    color: #f04937;
    background-color: rgba(0, 0, 0, .00);
    font-family: courier, verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
}
div.merch {
    background: rgba(0, 0, 0, .75);
    border-radius: 15px 15px 0px 0px;
    margin-top: 130px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}
div.merch a:link {
    color: #f04937;
    text-decoration: none;
}
div.merch a:visited {
    color: #f04937;
    font-size: 22.5px;
    text-decoration: none;
}
div.merch a:hover {
    color: #f04937;
    text-decoration: underline;
    font-style: italic;
}
div.merch p {
    text-shadow: 3px 3px 1px #000;
}
div.store {
    background: rgba(0, 0, 0, .75);
    height: 260px;
    text-align: center;
    width: 100%
}
div.store img {
    display: inline-block;
    height: 300px;
    position: relative;
    top: -15px;
    width: 300px;
}

/*Contact*/

.contact {
    line-height: 1.6em;
    padding: 0.2em;
    text-align: center;
}
div.contact {
    border-radius: 0px 0px 15px 15px;
    margin: 0px 0px 130px 0px;
}
.contact a:link {
    color: #f04937;
    font-size: 22.5px;
    font-weight: bold;
    text-decoration: none;
}
.contact a:visited {
    color: #f04937;
    text-decoration: none;
    font-size: 22.5px;
    font-weight: bold;
}
.contact a:hover {
    color: #f04937;
    font-style: italic;
    text-decoration: underline;
}

/*Footer*/

h5 {
    background-color: rgba(0, 0, 0, .00);
    color: #f04937;
    font-family: courier, verdana, sans-serif;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
    text-shadow: 3px 2px 4px #333;
}
footer {
    background-color: rgba(0, 0, 0, 1.0);
    color: #777;
    font-size: 20px;
    font-style: italic;
    height: 25px;
    letter-spacing: .21em;
    line-height: 2em;
    margin-top: 50px;
    min-width: 850px;
    padding-bottom: 70px;
    padding-top: 30px;
    text-align: center;
    position: absolute;
    text-shadow: 1px 1px 8px #000;
    width: 100%;
    z-index: 199;
}
footer a:link {
    color: #777;
    text-decoration: none;
}
footer a:visited {
    color: #888;
    text-decoration: none;
}
footer a:hover {
    color: #f04937;
    font-style: normal;
    text-decoration: underline;
}

/*classes*/

.whiteonblack {
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    font-family: courier, verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 2.1px;
    padding: 3px 15px;
    text-align: center;
    text-shadow: 3px 3px 1px #000;
}
.alphaorangered {
    color: rgba(240, 73, 55, .5);
}
.uppercase {
    text-transform: uppercase;
}

/*FLOATS AND CLEARS*/

.float-left {
    float: left;
    margin: 10px;
}
.float-right {
    float: right;
    margin: 10px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/* End hide from IE-mac */


/*=====================MEDIA QUERIES========================*/


/*=========================TABLET========================*/

@media (max-width: 960px) and (min-width: 640px) {
    .desktop {
        display: none;
    }
    .mobilestore {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    #container {
        width: 100%;
        min-width: inherit;
        margin-top: -6em
    }
    nav.mobile {
        width: 100%;
        margin-top: 5em;
        position: relative;
        vertical-align: middle;
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: .8em
    }
    ul.tablet-nav {
        position: relative;
        margin-top: .3em;
        z-index: 300;
    }
    ul.tablet-nav li:first-child {
        border-top: .1em solid #ff0000;
        padding-top: .3em;
    }
    ul.tablet-nav li {
        background-color: #000;
        padding-top: .2em;
        padding-bottom: .7em;
        text-decoration: none;
    }
    ul.tablet-nav a:link {
        color: #ff0000;
        text-decoration: none;
    }
    ul.tablet-nav a:visited {
        color: #ff0000;
        text-decoration: none;
    }
    h1.uppercase {
        background-color: #000;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 1.9em;
        margin: 0;
        min-width: inherit;
        padding-top: .6em;
        padding-bottom: .4em;
        position: fixed;
        text-align: center;
        text-shadow: 0px 3px 5px #333;
        width: 100%;
    }
    .navi,
    .button,
    .topbox,
    .skeleton1,
    .skeleton2,
    .backgroundimage,
    .mobile-only {
        display: none;
    }
    div.intro {
        font-size: 1.2em;
        letter-spacing: .2em;
        line-height: 1.6em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    body,
    main,
    header,
    footer,
    .whiteonblack,
    .contact,
    .merch {
        width: 100%;
        padding: 0em 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    div.store img {
        display: inline-block;
        width: 15em;
        height: 15em;
        position: relative;
        top: -15px;
    }
    footer {
        font-size: .6em;
        position: relative;
        font-size: .8em;
        height: 2em;
        letter-spacing: .3em;
        line-height: 1.5em;
        margin-top: 0em;
        min-width: auto;
        padding-bottom: 1em;
        padding-top: 0em;
    }
    .album-cover img {
        width: 30%;
    }
}

/*====================MOBILE=========================*/

@media (max-width: 639px) and (min-width: 360px) {
    .desktop,
    .tabletstore,
    .navi,
    .button,
    .topbox,
    .skeleton1,
    .skeleton2,
    .backgroundimage,
    .albumnames,
    .album-cover,
    .store,
    .merch,
    div.store img {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    #container {
        width: 100%;
        min-width: inherit;
        margin-top: -6em
    }
    nav.mobile {
        width: 100%;
        margin-top: 4em;
        position: relative;
        vertical-align: middle;
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: .8em
    }
    ul.tablet-nav {
        position: relative;
        z-index: 300;
        padding-top: .5em;
    }
    ul.tablet-nav li:first-child {
        border-top: .1em solid #ff0000;
        padding-top: .3em;
        margin-top: auto;
    }
    ul.tablet-nav li {
        background-color: #000;
        padding-top: .2em;
        padding-bottom: .7em;
        text-decoration: none;
    }
    ul.tablet-nav a:link {
        color: #ff0000;
        text-decoration: none;
    }
    ul.tablet-nav a:visited {
        color: #ff0000;
        text-decoration: none;
    }
    h1.uppercase {
        background-color: #000;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 1.7em;
        padding-top: .6em;
        padding-bottom: .4em;
        position: fixed;
        text-align: center;
        text-shadow: 0px 3px 5px #333;
        width: 100%;
    }
    div.intro {
        font-size: 1.2em;
        letter-spacing: .2em;
        line-height: 1.6em;
        margin-top: 5%;
        margin-bottom: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    body,
    main,
    header,
    footer,
    .whiteonblack,
    .contact {
        width: 100%;
        padding: 0em 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    figure.mobile-only {
        display: inline-block;
    }
    figure img {
        position: relative;
        width: 70%;
        height: 100%;
        margin-top: 2em;
    }
    figcaption {
        font-weight: bold;
    }
    footer {
        font-size: .6em;
        position: relative;
        font-size: .8em;
        height: 3em;
        letter-spacing: .3em;
        line-height: 1.5em;
        margin-top: 0em;
        min-width: auto;
        padding-bottom: 3em;
        padding-top: 1em;
    }
}

/*================ABSOLUTE MINIMUM==================*/

@media (max-width: 359px) {
    #container {
        min-width: 360px;
    }
    .desktop,
    .tabletstore,
    .navi,
    .button,
    .topbox,
    .skeleton1,
    .skeleton2,
    .backgroundimage,
    .albumnames,
    .album-cover,
    .store,
    .merch,
    div.store img {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    #container {
        min-width: 360px;
        min-width: inherit;
        margin-top: -6em
    }
    nav.mobile {
        min-width: 360px;
        margin-top: 5em;
        position: relative;
        vertical-align: middle;
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: .8em
    }
    ul.tablet-nav {
        position: relative;
        margin-top: .3em;
        z-index: 300;
    }
    ul.tablet-nav li:first-child {
        border-top: .1em solid #ff0000;
        padding-top: .3em;
    }
    ul.tablet-nav li {
        background-color: #000;
        padding-top: .2em;
        padding-bottom: .7em;
        text-decoration: none;
    }
    ul.tablet-nav a:link {
        color: #ff0000;
        text-decoration: none;
    }
    ul.tablet-nav a:visited {
        color: #ff0000;
        text-decoration: none;
    }
    h1.uppercase {
        background-color: #000;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 1.9em;
        margin: 0;
        min-width: 360px;
        padding-top: .6em;
        padding-bottom: .4em;
        position: fixed;
        text-align: center;
        text-shadow: 0px 3px 5px #333;
        min-width: 360px;
    }
    div.intro {
        font-size: 1.2em;
        letter-spacing: .2em;
        line-height: 1.6em;
        margin-top: 5%;
        margin-bottom: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    body,
    main,
    header,
    footer,
    .whiteonblack,
    .contact {
        min-width: 360px;
        padding: 0em 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    figure.mobile-only {
        display: inline-block;
    }
    figure img {
        position: relative;
        width: 60%;
        height: 100%;
    }
    figcaption {
        font-weight: bold;
    }
    footer {
        font-size: .6em;
        position: relative;
        font-size: .8em;
        height: 2em;
        letter-spacing: .3em;
        line-height: 1.5em;
        margin-top: 0em;
        min-width: 360px;
        padding-bottom: 1em;
        padding-top: 0em;
    }
}
