/*Body*/

#container {
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    position: relative;
    width: 80%;
}
div.main-content {
    padding-top: 120px;
}
div.backgroundimage {
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 890px;
    margin-left: 40%;
    position: fixed;
    top: 41px;
    width: 900px;
    z-index: -2;
}
body {
    background-color: #000;
    background-image: radial-gradient(ellipse farthest-corner at 50px 50px, rgba(220, 53, 35, .25), rgba(0, 0, 0, .3));
    background-size: 100% 150%;
    background-repeat: no-repeat;
    color: #FFF;
    font-family: courier, verdana, sans-serif;
    font-size: 18px;
    letter-spacing: .15em;
    margin: auto;
    white-space: normal;
    width: 100%;
}

/*hr rules hr {
    border-color: #f04937;
    opacity: 0.0;
    margin-bottom: 2%;
    margin-top: -1.0px; 
}*/


/*maintitle*/

div.header {
    background-color: #000;
    box-shadow: 0px 10px 20px 8px #000000;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000000;
}
h1.uppercase {
    background-color: #000;
    background-repeat: no-repeat;
    box-shadow: 0px -5px 10px rgba(220, 53, 35, .15);
    color: #f04937;
    font-size: 65px;
    font-family: courier, verdana, sans-serif;
    margin: auto;
    min-width: 80px;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    text-shadow: 0px 3px 5px #333;
    width: 800px;
}
div.skeleton {
    margin: auto;
    min-width: 80px;
    position: relative;
    top: 0;
    width: 1000px;
}
div.skeleton1 {
    background-image: url(images/skeleton2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 100px;
    top: 25px;
    height: 70px;
    width: 20px;
    position: absolute;
    z-index: 1;
}
div.skeleton2 {
    position: absolute;
    background-image: url(images/skeleton2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 875px;
    top: 25px;
    width: 20px;
    height: 70px;
    z-index: 1;
}

/*intro*/

div.intro {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 15px;
    color: #fff;
    font-family: courier, verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 2.1px;
    line-height: 1.6em;
    margin-top: 150px;
    margin-bottom: 130px;
    text-align: center;
    text-shadow: 3px 3px 1px #000;
    white-space: normal;
}
div.intro a:link {
    color: #fff;
    text-decoration: none;
}
div.intro a:visited {
    color: #fff;
    text-decoration: none;
}
div.intro a:hover {
    color: #cd0702;
    font-style: italic;
    text-decoration: underline;
}

/*albums*/

h2.albums {
    background-color: #cd0702;
    border-radius: 10px 10px 0px 0px;
    color: #000;
    font-family: courier, verdana, sans-serif;
    font-size: 35px;
    margin: -15px -4px;
    padding: 0px 4px;
    text-align: center;
    text-shadow: 0px 1px 2px #333;
    width: 100%;
}
main {
    padding: 0px 15px;
}
.albums {
    background-color: rgba(255, 255, 255, .92);
    color: #000;
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 0.2em;
    text-align: center;
}
.albums dl {
    display: inline-block;
    font-size: 20px;
    line-height: 1.6em;
    padding: 30px 0px;
    width: 80%;
}
div.albums {
    border-radius: 0px 0px 15px 15px;
    margin-top: 130px;
    padding-bottom: 10px;
    text-align: center;
}
dt.albumnames {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
}
div.albums a:link {
    color: #000;
    text-decoration: none;
}
div.albums a:visited {
    color: #000;
    text-decoration: none;
}
div.albums a:hover {
    color: #f04937;
    font-style: italic;
    text-decoration: underline;
}
ul.songlist {
    color: #000;
    list-style-type: none;
}
div.center {
    height: 100px;
    margin: 0 auto;
    position: relative;
    right: 32px;
    width: 350px;
}
.album-art:hover {
    box-shadow: 0px 0px 88px -10px #f04937;
}

/*merchandise*/

h4.merch {
    color: #f04937;
    background-color: rgba(0, 0, 0, .00);
    font-family: courier, verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
}
div.merch {
    background: rgba(0, 0, 0, .75);
    border-radius: 15px 15px 0px 0px;
    margin-top: 130px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}
div.merch a:link {
    color: #f04937;
    text-decoration: none;
}
div.merch a:visited {
    color: #f04937;
    font-size: 22.5px;
    text-decoration: none;
}
div.merch a:hover {
    color: #f04937;
    text-decoration: underline;
    font-style: italic;
}
div.merch p {
    text-shadow: 3px 3px 1px #000;
}
div.store {
    background: rgba(0, 0, 0, .75);
    height: 260px;
    text-align: center;
    width: 100%
}
div.store img {
    display: inline-block;
    height: 300px;
    position: relative;
    top: -15px;
    width: 300px;
}

/*Contact*/

.contact {
    line-height: 1.6em;
    padding: 0.2em;
    text-align: center;
}
div.contact {
    border-radius: 0px 0px 15px 15px;
    margin: 0px 0px 130px 0px;
}
.contact a:link {
    color: #f04937;
    font-size: 22.5px;
    font-weight: bold;
    text-decoration: none;
}
.contact a:visited {
    color: #f04937;
    text-decoration: none;
    font-size: 22.5px;
    font-weight: bold;
}
.contact a:hover {
    color: #f04937;
    font-style: italic;
    text-decoration: underline;
}

/*Footer*/

h5 {
    background-color: rgba(0, 0, 0, .00);
    color: #f04937;
    font-family: courier, verdana, sans-serif;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
    text-shadow: 3px 2px 4px #333;
}
footer {
    /* border: 1px solid #333; */
    background-color: rgba(0, 0, 0, 1.0);
    color: #777;
    font-size: 20px;
    font-style: italic;
    height: 25px;
    letter-spacing: .21em;
    line-height: .5em;
    margin-top: 50px;
    min-width: 850px;
    padding-bottom: 70px;
    padding-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 8px #000;
    width: 100%;
    z-index: 11;
}
footer a:link {
    color: #777;
    text-decoration: none;
}
footer a:visited {
    color: #888;
    text-decoration: none;
}
footer a:hover {
    color: #f04937;
    font-style: normal;
    text-decoration: underline;
}

/*classes*/

.whiteonblack {
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    font-family: courier, verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 2.1px;
    padding: 3px 15px;
    text-align: center;
    text-shadow: 3px 3px 1px #000;
}
.alphaorangered {
    color: rgba(240, 73, 55, .5);
}
.uppercase {
    text-transform: uppercase;
}

/*FLOATS AND CLEARS*/

.float-left {
    float: left;
    margin: 10px;
}
.float-right {
    float: right;
    margin: 10px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/* End hide from IE-mac */
